* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 10px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 56px;
}

.header img {
    width: 100px;
}

ul {
    list-style: none;
    display:flex;
    gap: 8px
}

a { 
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.banner img {
    width: 300px;
}

.info.heading {
    text-align: center;
}

.images {
    display:flex;
    gap: 16px;
    
}

.images img {
    width: 200px;
}

/* background colors */
.dark {
    background-color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
}

.cta {
    background-color: #3882F6
}