@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.info,
.testimonial,
.cta {
    padding: 0 20vw;
}

.hero,
.info,
.testimonial,
.cta {
    flex: 1;
    padding-bottom: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 120px;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header__nav-list {
    list-style: none;
    display:flex;
    gap: 32px
}

.header__nav-item > a { 
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 64px;
    padding-bottom: 120px;
}

.hero__content {
    flex: 1;
}

.hero__title,
.cta__title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero__description,
.cta__description,
.footer__text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero__description {
    padding: 16px 0;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.hero__button {
    background: #3882F6;
    border: 1px solid royalblue;
}

button {
    color: #f9faf8;
    padding: 8px 32px;
    flex-shrink: 0
}

.hero__image {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image img{
    width: 100px;
}

.info {
    padding-top: 56px;
    padding-bottom: 120px;
}

.info__title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 56px;
}

.info__grid {
    display:flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.info__grid img,
.info__item {
    width: 175px;
    text-align: center;
}

.info__grid img {
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 4px;
}

.testimonial {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 120px 25vw;
}

.testimonial__quote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.testimonial__author {
    align-self: flex-end;
    font-size: 30px;
    font-weight: 600;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    margin: 120px 20vw;
    border-radius: 8px;
    gap: 16px;
}

.cta__title {
    font-size: 24px;
    padding-bottom: 8px;
}

.cta__button {
    background: #3882F6;
    border: 2px solid white;
}

.footer {
    align-items: center;
    text-align: center;
    padding: 32px;
}


/* background colors */
.header--dark,
.hero--dark,
.footer--dark {
    background-color: #1F2937;
}

.testimonial {
    background-color: #E5E7EB;
}

.cta {
    background-color: #3882F6
}